h1 {
  margin-top: 0;
}
.App__main {
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  text-align: center;
}

.App .MuiFormControl-root {
  margin: 20px 10px;
}

.form__main {
  display: flex;  
}
.form__footer {
  position: relative;
  padding-bottom: 60px;
}
.form__footer .Spinner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}
.Spinner img {
  max-height: 100%;
}

@media(max-width: 767px) {
  .App .MuiFormControl-root {
    margin: 10px;
    width: calc(50% - 20px);
  }
  .form__main {
    flex-wrap: wrap;
  }
}

@media(max-width: 375px) {
  .App .MuiFormControl-root {
    width: 100%
  }
}